@media all and (min-width:901px) {
	body { width: 500px; }
	}
@media all and (min-width:601px) and (max-width:900px) {
	body { width: 55%; }
	}
@media all and (max-width:600px) {
	body { width: 90%; }
	}
body {
	font-family: arial, sans-serif;
	font-size: small;
	margin: 0 auto;
}
p, a, li {
	color: #545454;
}
ul {
	padding-left: 20px;
}
ol {
	padding: 10px 0 0 20px;
}
li {
	padding: 5px 0 5px;
}